<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vbytsyuk.android.layout">

    <application android:supportsRtl="true">
        <activity android:name="com.vbytsyuk.android.layout.ChooseLayoutActivity" />
        <activity android:name="com.vbytsyuk.android.layout.ClassicLayoutActivity" />
        <activity android:name="com.vbytsyuk.android.layout.ConstraintLayoutActivity" />
    </application>
</manifest>